#all {
    width: 1000px;
		height: 1500px;
    background: grey;
    margin: 0 auto;
    padding: 10px;
		text-align: center;
}

#title {
		width: 50%;
		margin: auto;
		background: blue;
}

#names {
	width: 50%;
	height: 500px;
  background: red;
  float: left;
	padding-top: 1px;
}  

#mmrs {
		width: 50%;
    margin-left: 50%;
		height: 500px;
		padding-top: 1px; 
    background: yellow;
}

.nomargin {
	margin: 0px;
}

#result1 {
	width: 50%;
	height: 250px;
  background: orange;
  float: left;
}
#result2 {
	width: 50%;
  margin-left: 50%;
	height: 250px;
  background: purple;
}
#result1 h2 {
	margin-top:0px;
}
#result2 h2 {
	margin-top:0px;
}




